/* HomePage.css */
@keyframes movingBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .moving-background {
    background: linear-gradient(-45deg, #cecece, #d6d6d6, #ababab, #e4e4e4);
    background-size: 400% 400%;
    animation: movingBackground 5s ease infinite;
    padding: 120px;
    border-radius: 10px;
  }

  .section-text {
    padding: 20px;
    background: linear-gradient(-45deg,  #f4f4f4,  #f4f4f4,  #f4f4f4, #f4f4f4);
    border-radius: 10px; /* Optional for rounded corners */
    margin: auto; /* Center the text block */
    max-width: 900px; /* Adjust as needed */
}

.navbar-header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    /* Other styles for your header */
}

.section {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px
}

.section-header {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    background: linear-gradient(-45deg, #cecece, #d6d6d6, #ababab, #e4e4e4);
}

.two-sided-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-content {
    flex: 1;
    background: linear-gradient(-45deg, #d7e5fe, #d6d6d6, #dfdfdf, #e4e4e4);
    padding: 120px;
    border-radius: 10px;
}

.section-image {
    flex: 1;
    /* Add styles for the image or image container */
}

/* Specific styles for goals and technology sections */
.goals-section {
    background-color: #ffffff; /* Different background color */
    justify-content: center;
    padding: 20px;
}

.technology-section {
    background-color: #ffffff;
    padding: 20px;
    text-align: center; /* Center the header text */
}

.feature-technology-container {
    /* Ensure this container takes the full width and centers its children */
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex; /* Confirm Flex display if not automatically applied by the component */
}

.text-bubble {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Light background */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    margin-bottom: 20px; /* Spacing below the bubble */
}

.comment-collection {
    padding-right: 20px; /* Add padding to the right side */
}

