.navbar-header {
    position: sticky;
    top: 0;
    z-index: 100; /* Ensure it stays above other content */
    background-color: #fff; /* Or any color that fits your design */
    width: 100%;
}

.project-collection-container {
    /* Styles for the project collection section */
    padding: 30px;
    background: linear-gradient(-45deg, hsl(190, 75%, 95%), hsl(190, 100%, 20%),hsl(190, 100%, 15%));
    background-size: 100% 100%;
    animation: movingBackground 5s ease infinite;
    border-radius: 20px;
}
