.App-header {
    background-color: #282c34;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.0em;
    color: white;
}

.user-info span {
    margin-right: 15px;
    color: white;
}
